.App {
  /*text-align: center;
  background-color: #77e9f1;
   background-image: url(./UtilComponents/Map.jpg); */
}
MainDiv{
  height: 80%;
  border: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

textarea {
  background-color: #77e9f1;
  resize: none;
  height:200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffa600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}