.App {
  
}
.content{
}

.wrapper{
  width: calc(100% - 10%);
  max-width: 1110px;
  margin: 0 auto;
}

textarea {
  resize: none;
  height:200px;
}

.t-particles-0-2-34 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  position: absolute;
  background-image: linear-gradient(-45deg, #0F609B 0%, #2680C2 100%);
}

.t-particlesCanvas-0-2-35 {
  display: block;
  vertical-align: bottom;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffa600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
